/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  background-color: #3B2100;
  align-items: center;
}
header .logoMys {
  width: 120px;
  margin: 10px;
}
header a {
  text-decoration: none;
  color: white;
}
header a:hover {
  color: blueviolet;
}
header h1 {
  text-align: center;
  color: white;
}
header nav img {
  width: 20px;
}
header .link {
  color: white;
  border-radius: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 5px;
}
header .nav-item {
  background-color: #131313;
}
header .nav-item:hover {
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
}
header .nav-link:hover {
  color: blueviolet;
}

@media (max-width: 720px) {
  header h1 {
    display: none;
  }
  header .mailTelefono {
    display: none;
  }
}
/*MAIN INDEX*/
main {
  background-image: url("../imagenes/fondo.jpg");
}
main h2 {
  text-align: center;
  color: white;
}
main h3 {
  color: white;
}
main p {
  color: white;
}
main .container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
main .container .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .carousel {
  width: 30% !important;
}
main .link {
  background-color: #131313;
}
main .link:hover {
  position: relative;
  left: 10px;
}
main .link:hover a {
  color: white;
}
main .link a {
  text-decoration: none;
  color: grey;
}
main .descripcion {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 30px;
  margin: 20px;
  margin-bottom: 0;
}
main .descripcion div {
  padding: 20px;
}
main .descripcion div p {
  text-align: start;
  width: auto;
}

@media (max-width: 720px) {
  .descripcion {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .items {
    margin: 40px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: #131313;
}
footer .logo {
  margin: 10px;
}
footer .logo a img {
  width: 200px;
}
footer .imagenesFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .imagenesFooter a img {
  width: 40px;
  margin-right: 100px;
}
footer .derechos {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
footer .whatsapp {
  position: fixed;
  bottom: 10px;
  right: 20px;
  /*margin: 20px;*/
}
footer .whatsapp a img {
  width: 70px;
}
footer .whatsapp a img:hover {
  width: 80px;
}

@media (max-width: 720px) {
  footer .derechos {
    display: none;
  }
  footer .logo a img {
    width: 100px;
  }
  footer .imagenesFooter a img {
    width: 30px;
  }
}
/*SERVICIOS*/
main a {
  text-decoration: none;
  color: black;
}
main a:hover {
  color: black;
}
main .papa {
  justify-content: space-between;
  align-items: center;
  display: inline-block;
}
main .card {
  width: 10rem;
  margin: 20px;
}
main .card p {
  color: black;
}
main .superCaja {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .contactate {
  display: inline-block;
  margin: 30px;
  color: white;
}
main .contactate a {
  color: skyblue;
}
main .contactate a:hover {
  text-decoration: underline;
}
main ul {
  display: flex;
}
main li {
  list-style: none;
}

@media (max-width: 720px) {
  .secundario {
    display: none;
  }
  .primario {
    flex-direction: column;
  }
  .superCaja {
    flex-direction: column;
  }
  .contactate {
    text-align: center;
  }
}
main .cajaGrande {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main form {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 40%;
}
main form .nombreApellido {
  display: flex;
}
main form label {
  color: white;
}
main form .item {
  padding: 30px;
}
main .mapa {
  margin-bottom: 30px;
  width: 50%;
}
main .mapa iframe {
  width: 100%;
  height: 50vh;
}
main .textarea {
  width: 100%;
}
main textarea {
  width: 100%;
}
main .email {
  width: 100%;
}

@media (max-width: 720px) {
  main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  main form .nombreApellido {
    flex-direction: column;
  }
  main form textarea {
    width: 50%;
  }
  main form .textarea {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  main .mapa iframe {
    width: 100%;
    height: 80%;
  }
}

/*# sourceMappingURL=estilos.css.map */
