footer {
    display: flex;
    justify-content: space-between;
    background-color: #131313;
    .logo {
        margin: 10px;
        margin-left: 100px;
        a {
            img {
                width: 200px;
            }
        }
    }
    
    .imagenesFooter{
        display: flex;
        
        align-items: center;
        justify-content: space-between;
        a img{
            width: 40px;
            margin-right: 100px;
        }
    }
    .derechos{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:600px){
    footer{
        .derechos{
            display: none
        }
        .logo{
            a img{
                width: 100px;
            }
        }
        .imagenesFooter{
            a img{
                width: 30px;
            }
        }
    }
}
.whatsapp{
    position:fixed;
    bottom: 10px;
    left: 20px;
    
    /*margin: 20px;*/
    
    a img{
        width: 70px;
        &:hover{
            width: 80px;
        }
    }
}