/*SERVICIOS*/

$color:black;

@mixin centerSpace{
    justify-content: space-between;
    align-items: center;
}

@mixin anclas{
    text-decoration: none;
    color: $color;
}

@mixin columna{
    flex-direction: column
}

main{
    
    a{
        @include anclas;
        &:hover{
            color: $color;
        }
    }
    
    .papa{
        @include centerSpace;
        display: inline-block;
    }
    .card{
        width: 10rem;
        margin: 20px;
        p{
            color: $color;
        }
    }
    .superCaja{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        
    }
    .contactate{
        display: inline-block;
        margin: 30px;
        color: white;
        a{
            color: skyblue;
            &:hover{
                text-decoration:underline ;
            }
        }
    }
    ul{
        display: flex;
    }
    li{
        list-style: none;
    }
}

@media(max-width:720px){
    .secundario{
        display: none;
    }
    .primario{
        @include columna;
    }
    .superCaja{
        @include columna;
    }
    .contactate{
        text-align: center;
    }
}